.container {
	padding: 0.7rem 0.7rem 0 0.7rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-around;
	justify-items: center;
	.itemContainer {
		padding: 0.7rem;
		background-color: #0000000d;

		width: 100%;
	}
	.header {
		user-select: none;
		h1 {
			padding: 1rem;
		}
		display: flex;
		width: 100%;
		justify-content: space-between;
		.btnMore {
			color: #e45f17;
			text-decoration: underline;
			&:hover {
				background-color: transparent;
				color: #e45f17;
				/* filter: none; */
			}
		}
	}
}
