<div class="container">
	<footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
		<div class="col-md-4 d-flex align-items-center">
			<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
				<h1>FF MASTER</h1>
			</a>
		</div>
		<div class="d-flex flex-column align-items-end">
			<div class="d-flex">
				<ul class="nav list-unstyled d-flex">
					<li class="ms-3">
						<a class="text-muted" target="_blank" href="https://t.me/rurimeiko">
							<i class="bi bi-telegram"></i>
						</a>
					</li>
					<!-- <li class="ms-3">
						<a class="text-muted" target="_blank" href="https://github.com/RuriMeiko">
							<i class="bi bi-github"></i>
						</a>
					</li> -->
					<li class="ms-3">
						<a class="text-muted" target="_blank" href="https://rurimeiko.pages.dev/">
							<i class="bi bi-person-bounding-box"></i>
						</a>
					</li>
				</ul>
					
			</div>
			<div>
				<span class="mb-3 mb-md-0 text-muted">© <%=new Date().getFullYear() %> ffmaster</span>
			</div>
		</div>
	</footer>
</div>
