<div
	class="modal fade"
	id="infoModal"
	tabindex="-1"
	aria-labelledby="infoModalLabel"
	aria-hidden="true"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="infoModalLabel">New message</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="mb-3">
						<label for="ten" class="col-form-label">Tên:</label>
						<input type="text" class="form-control" id="ten" />
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="price" class="col-form-label">Giá:</label>
							<input type="number" class="form-control" id="price" />
						</div>
						<div class="col-md-6 mb-3">
							<label for="number" class="col-form-label">Số lượng:</label>
							<input type="number" class="form-control" id="number" />
						</div>
					</div>
					<div class="mb-3">
						<label for="mota" class="col-form-label">Mô tả:</label>
						<textarea type="text" class="form-control" id="mota"></textarea>
					</div>
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="the-vo-cuc" class="col-form-label">Màu:</label>
							<select class="form-control" id="the-vo-cu">
								<option value="true">Có</option>
								<option value="false">Không</option>
							</select>
						</div>
						<div class="col-md-6 mb-3">
							<label for="reg" class="col-form-label">Nhãn hiệu:</label>
							<select class="form-control" id="reg">
								<% dangky.forEach(function(item) { %>
								<option value="<%= item.id %>"><%= item.ten %></option>
								<% }); %>
							</select>
						</div>
					</div>
					<div class="mb-3">
						<label for="image" class="col-form-label">Hình ảnh:</label>
						<div id="image-dropzone" class="dropzone"></div>
						<!-- Add this div for image preview -->
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Đóng
				</button>
				<button type="button" class="btn btn-primary" id="save-btn">Lưu</button>
			</div>
		</div>
	</div>
</div>
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<link
	href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css"
	rel="stylesheet"
	type="text/css"
/>
