.container {
	color: black;
	background-color: #ede9e9;
	padding: 0.7rem;
	border: none;
	cursor: pointer;
	min-height: 2.5rem;
	min-width: max-content;
	font-size: small;
	transition: all 0.3s ease;
	border-left: 0.5rem solid #3d3d3d;
	&:hover {
		background-color: #d3cbcb;
	}

	&:focus {
		background-color: #d3cbcb;

		border-left: 0.5rem solid #e45f17;
	}
	outline: none;
	&:disabled {
		background-color: #ede9e9;
		filter: blur(0.1rem);
		cursor: not-allowed;
	}
	position: relative;

	.dropdown-toggle {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2rem;
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		display: flex;
		flex-direction: column;
		left: 0;
		width: 100%;
		transition: all 0.3s ease;
		font-size: small;
		background-color: white;
		z-index: 10;
		.dropdown-item {
			transition: all 0.3s ease;

			padding: 0.5rem;
			cursor: pointer;

			&:hover {
				background-color: #d3cbcb;
				color: black;
			}
		}
	}

	.selected {
		border-right: 0.4rem solid #e45f17;
		background-color: #e3dddd;
		font-weight: bold;
	}
}
