.container {
	position: relative;
	color: black;
	background-color: #fff7f7;
	padding: 0.7rem;
	width: 15rem;
	height: 25rem;
	user-select: none;
	box-shadow: 0 0 0.5rem #0000001a;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:hover {
		background-color: #ebebeb;
	}

	&:hover .tag {
		opacity: 0;
	}

	img {
		width: 100%;
		height: 50%;
		object-fit: cover;
	}

	h1 {
		font-size: 1rem;
		font-weight: bold;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}

	h3 {
		font-size: 1rem;
		font-weight: 400;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		span {
			color: #e84b4b;
			font-weight: bold;
		}
		.currency {
			margin-left: 0.1rem;
			font-size: 0.5rem;
			color: #e84b4b;
		}
	}

	p {
		font-size: 0.8rem;
		font-weight: 300;
		overflow: hidden;
		text-overflow: ellipsis;
		span {
			font-weight: bold;
		}
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
	}
}

.tag {
	position: absolute;
	top: 52%;
	color: white;
	transition: all 0.3s ease;
	right: 0rem;
	font-size: 0.8rem;
	text-align: center;
	padding: 0.2rem 0.5rem;
	background-color: #e84b4b;
	box-shadow: 0 0 0.5rem #0000001a;
}

.tag_new {
	background-color: #e84b4b;
}

.tag_sale {
	background-color: #6ae84b;
}

.tag_hot {
	background-color: #e8a74b;
}

.tag_vip {
	background-color: #e54be8;
}
