.container {
	color: white;
	background-color: #ffa1b0;
	padding: 0.7rem 1.2rem;
	font-weight: bold;
	min-width: 2.5rem;
	min-height: 2.5rem;
	border: none;
	cursor: pointer;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;

	&:hover {
		background-color: #e9527a;
	}
	&:active {
		filter: blur(0.1rem);
		background-color: #cb4669;

		color: black;
		transform: scale(0.88);
	}
}

.text {
	background-color: transparent;
	min-height: 1rem;
	padding: 0.1rem;
	justify-content: start;
	font-weight: unset;
	&:hover {
		background-color: transparent;
		color: #ffa1b0;
		text-decoration: wavy;

		/* filter: drop-shadow(0.08rem 0.08rem 0rem #933d0f); */
	}
	&:active {
		color: #ffa1b0;
		filter: none;
		transform: none;
	}
}
